html {
  box-sizing: border-box;
  font-family: Karla;
  font-size: 16px;
  font-weight: 400;
}



*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: ;
  padding: 20px;
}

h1, h2, h3, h4, p, body {
  margin: 0;
}

#card {
   width: 600px;
  height: 400px;
  box-shadow: -4px -4px 17px -3px rgba(0,0,0,0.75);
  border-radius: 5px;
  overflow: hidden;
 
}


.header-div {
  background-color:white;
  width: 100%;
  height: 45%;
  padding: 25px;
     
}

.flex {
  width: 100%;
  height: 55%;
  color: white;
 
}


.second-container {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  height: 100%;
 background-color: #2ab2af;
   padding: 25px;
  
}

.third-container {
  display: inline-block;
  vertical-align: top;
background-color: #1ac9c5;
  width: 50%;
  height: 100%;
   padding: 25px;
  
}

.header-div h2 {
  color: #2ab2af;
  margin-bottom: 15px;
}

.header-div h4 {
  color: #d1fc14;
  margin-bottom: 10px;
}

.header-div p {
  color: #4b525c;
}

button {
  color: white;
  background-color: #d1fc14;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  
}

button:hover {
  background-color: #4CAF50; /* Green */
  color: black;
  cursor: pointer;
  transform: scale(1.1);
}
.price {
  font-weight: 700;
  font-size: 1.4rem;
}

.flex h4 {
  margin-bottom: 25px;
}

#price-frequency, .price {
  display: inline-block;
}

#price-frequency {
  position: relative;
  top: -3px;
  font-size: 0.8rem;
  opacity: 0.7;
  margin: 5px;
}
.flex p {
  font-size: 0.8rem;
  margin-bottom: 20px;
}

ul {
  padding: 0;
  list-style: none;
  font-size: 0.8rem;
  opacity: 0.8;
}
